/.idea/**
/*.xml
/**.pyc
/webdriver/__pycache__/**
logins and configs.txt
/webdriver/db_tester.py
/webdriver/.idea/**
/robotframework/.idea
/robotframework/resources/.idea
/robotframework/resources/storedsafe_robot_lib/.idea/
/capybara/.idea/**
/webdriver/pageobjects/__pycache__/**
safe_stored.txt
/*/*.pyc